### BASE base_esp32s3_supermini 4MB
## Target and flash configuration
CONFIG_IDF_TARGET="esp32s3"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_espS3_SM.csv"


## FreeRTOS tick rate (1000 Hz typical)
CONFIG_FREERTOS_HZ=1000

## Stack smashing protection (recommended)
CONFIG_COMPILER_STACK_CHECK_MODE_STRONG=y

CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096

## MQTT protocol
CONFIG_MQTT_PROTOCOL_5=y

## code size optimization
# nano formatting to save 20K ion code size
CONFIG_NEWLIB_NANO_FORMAT=y

#test

# disables IPv6
CONFIG_LWIP_IPV6=n

## cerificate bundles
#MBEDTLS_CERTIFICATE_BUNDLE=y required to include the headers managing bundles
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_NONE=y
# CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE_PATH   # DO NOT SET otherwise it triggers creation of a new bundle at compilation time

## to enable onboard WS2812 LED on ESP32 C6
CONFIG_RMT_ENABLED=y
CONFIG_LED_STRIP_BACKEND_RMT=y
CONFIG_LED_STRIP_BACKEND_SPI=n
## OPT_SIZE fragment

CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_COMPILER_OPTIMIZATION_ASSERTIONS_DISABLE=y
CONFIG_LOG_DEFAULT_LEVEL=3
CONFIG_LOG_COLORS=n
## LOG_DEBUG fragment

CONFIG_LOG_DEFAULT_LEVEL=4
CONFIG_LOG_COLORS=y
